@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.bg-clip {
  border-left: 2px solid #ffffff4d;
  box-shadow: 0 0 0 100vmax #008251;
  background: #008251;
  clip-path: inset(0 -100vmax);
}

.library-img {
  background-image: url("../../public/pages\ img.jpg");
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
